.container {
    width: 1600px;
    height: 1000px;
    display: grid;
    background-color: royalblue;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    --animation-delay: 100ms;
}


    @keyframes boxIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
        filter: hue-rotate(180deg); 
    }
    100% {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg); 
    }
 }

 .box {
    animation: boxIn 700ms ease-out;
    animation-fill-mode: backwards;
 }

.border {
    border: solid black 2px;
    border-radius: 3%;
}
.yellow {
    background-color: rgb(218, 178, 3);
}

.purple {
    background-color: rgb(96, 0, 185);
 }

.pink {
    background-color: rgb(185, 0, 71);
}

.white {
    background-color: rgb(255, 255, 255);
}


 #item1 {
  grid-area: 2/2/4/7;
  animation-delay: calc(1* var(--animation-delay))
 }
 #item2 {
    grid-area: 2/8/4/13;
    animation-delay: calc(2* var(--animation-delay))
}
#item3 {
    grid-area: 2/14/4/16;
    animation-delay: calc(3* var(--animation-delay))
}
#item4 {
    grid-area: 5/2/9/4;
    animation-delay: calc(4* var(--animation-delay))
}
#item5 {
    grid-area: 5/5/6/6;
    animation-delay: calc(5* var(--animation-delay))
}
#item6 {
    grid-area: 5/7/6/8;
    animation-delay: calc(6* var(--animation-delay))
}
#item7 {
    grid-area: 5/9/6/10;
    animation-delay: calc(7* var(--animation-delay))
}
#item8 {
    grid-area: 5/11/7/13;
    animation-delay: calc(8* var(--animation-delay))
}
#item9 {
    grid-area: 5/14/9/16;
    animation-delay: calc(9* var(--animation-delay))
}
#item10 {
    grid-area: 7/5/9/7;
    animation-delay: calc(10* var(--animation-delay))
}
#item11 {
    grid-area: 7/8/9/10;
    animation-delay: calc(11* var(--animation-delay))
}
#item12 {
    grid-area: 8/11/9/13;
    animation-delay: calc(12* var(--animation-delay))
}